$light-blue: rgb(220, 237, 252);
$dark-blue: rgb(13, 83, 150);
$light-gray: rgba(255, 248, 248, 0.607);

.footer-container {
    background-color: $light-blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    img {
        width: 60px;
        margin-left: 30px;
        border-radius: 50%;
    }

    a {
        text-decoration: none;
        color: black;
        padding: 10px;
        cursor: pointer;
        font-size: 15px;

        &:hover {
            background-color: $light-gray;
        }
    }

    span {
        text-decoration: underline;
    }
}